
@media screen and (max-width:990px) {
    .certificates-img {
        margin-bottom: 2%;
    }
}
@media screen and (max-width:668px) {
 .skills{
    width: 80%;
    margin-top: 3.4rem;
 }   
 .Course-title{
    font-size: 1.5rem;
 }
 .Heading{
    font-size: 1.8rem;
 }
 .name{
    font-size: 3.5rem;
    font-weight: normal;
 }
 .heading__primary--main{
    font-size: 8rem;
 }
}
