#certificates{
    // margin-top: -20rem;
    background-color: #eee;
    padding-top: 20rem;
}
.custom-header{
    height: 15vh;
}
.c-heading h1{
    text-align: center;
    font-size: 5rem;
    color: #f460a3;
}
.certificates-heading{
    margin-bottom: 2.5rem;
    font-family: 'Sacramento',cursive;
}
.new{
    font-size: 2.1rem;
    font-weight: normal;
    // color: #6096B4;
    color: #fff;
}
/* About-Html */

#Education{
    padding: 4% 8.5%;
    background-color: #eee;
    margin-top: -20rem;
    padding-top: 26rem;
}
.Heading{
    color: #6096B4;
    font-size: 4.8rem;
    font-weight: bold;
}
.site-link{
    font-size: 2.1rem;
    position: relative;
    text-decoration: none;
}
.site-link:hover{
    color:#F56EB3;
}
.site-link::after{
    content: "";
    position:absolute;
    background-color: #F56EB3;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.site-link:hover::after{
    width: 100%;
}
.Course-title{
    color: #6096B4;
}
.course-name{
    color: #F56EB3;
    font-weight: bold;
}
.site-padding{
    padding-top: 5%;
}

/* Skills About.html*/
#Skills{
    padding-top: 4%;
    background-color: #eee;
    padding-bottom:15rem ;
}
.skills{
    text-align: left;
    width: 50%;
    margin: 100px auto;
    line-height: 2;
}
.code-img{
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 5%;
    margin-bottom: 3%;
}
.information{
    color: #1C3879;
    font-size: 2.1rem;
    
}
.C-img{
    width: 25%;
    float: right;
    margin-left: 5%;
    margin-bottom: 3%;
}
.navbar-toggler{
    // color: white;
    border: 0.5px solid white;
    font-size: 2rem;
}
.certificates-img{
    margin-bottom: 1%;
}
.certificate-gif-container{
    background-color: var(--maincolour);
}

